.customer-dialog {
  width: 400px;
  max-width: 90vw;

  h2 {
    padding-bottom: 24px;
  }

  mat-dialog-content {
    padding-top: 8px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  mat-form-field {
    width: 100%;
  }

  mat-dialog-actions {
    padding-top: 16px;
    gap: 8px;
  }

  .mode-view {
    mat-form-field,
    mat-checkbox {
      opacity: 0.7;
    }
  }
}
