<mat-toolbar>
  <span>Angular App</span>
  <span style="flex: 1"></span>
  <button mat-icon-button [matMenuTriggerFor]="themeMenu">
    <mat-icon>format_color_fill</mat-icon>
  </button>

  <mat-menu #themeMenu="matMenu" class="theme-menu">
    <div class="menu-container">
      <div class="menu-column">
        <mat-radio-group
          [value]="themeService.currentTheme.mode"
          (change)="themeService.setThemeMode($event.value)">
          @for (m of themeModes; track m) {
            <mat-radio-button [value]="m">
              {{ m | titlecase }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>

      <div class="menu-column">
        <mat-radio-group
          [value]="themeService.currentTheme.color"
          (change)="themeService.setThemeColor($event.value)">
          @for (c of themeColors; track c) {
            <mat-radio-button [value]="c">
              {{ c | titlecase }}
            </mat-radio-button>
          }
        </mat-radio-group>
      </div>
    </div>
  </mat-menu>

</mat-toolbar>
<app-customers-table></app-customers-table>
