<div>
  <div>
    <input 
      matInput 
      placeholder="Filter customers..." 
      [(ngModel)]="filterValue" 
      (input)="applyFilter(filterValue)">
  </div>
  <div class="rounded-xl overflow-hidden bg-[var(--md-sys-color-surface)]">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            [checked]="isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            (change)="toggleAllRows()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="selection.toggle(row)"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let customer">
          <app-customer-cell [value]="customer[col.key]"></app-customer-cell>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>
</div>